@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background:
	linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);

	
	animation: gradient 600s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
	background-position: c;
	background-repeat: no-repeat;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}	


}